
<h2>Registro</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <h4>Información Básica</h4>

  <div class="field">
    <%= f.label :name, "Nombre(s)" %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>

  <div class="field">
    <%= f.label :first_last_name, "Apellido Paterno" %><br />
    <%= f.text_field :first_last_name, autofocus: true, autocomplete: "first last name" %>

  <div class="field">
    <%= f.label :second_last_name, "Apellido Materno" %><br />
    <%= f.text_field :second_last_name, autofocus: true, autocomplete: "second last name" %>
  </div>

  <div class="field">
    <%= f.label :sex, "Sexo" %><br />
    <%= f.select :sex, options_for_select([ ["Hombre", "Male"], ["Mujer", "Female"], ["Otro", "Other"] ], "") %>
  </div>

  <div class="field">
    <%= f.label :dob, "Fecha de nacimiento" %><br />
    <%= f.date_field :dob, autofocus: true, max: Date.today %>
  </div>

  <div class="field">
    <%= f.label :curp, "CURP" %><br />
    <%= f.text_field :curp, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :phone_number, "Teléfono" %><br />
    <%= f.phone_field :phone_number, autofocus: true %>
  </div>


  <div class="field">
    <%= f.label :email, "Correo Electrónico" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email"%>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :role, "Tipo de Cuenta" %><br />
    <%= f.select :role, options_for_select([ [], [ "Doctor", "doctor"], ["Paciente", "patient"], ["Asistente", "assitant"] ], ""),{}, :onchange => "manageRoleForm()", id: "role-input" %>
  </div>

  <div id = "doctor-form">
    <h4>Información Adicional</h4>
      <div class="field">
        <%= label_tag :cedula, "Cedula Profesional" %><br />
        <%= text_field :doctor, :cedula  %>
      </div>
  </div>

  <div id = "patient-form">
    <h4>Información Adicional</h4>
      <div class="field">
        <%= label_tag :weight, "Peso" %><br />
        <%= number_field :patient, :weight %>
      </div>

      <div class="field">
        <%= label_tag :height, "Altura" %><br />
        <%= number_field :patient, :height %>
      </div>

      <div class="field">
        <%= label_tag :blood, "Tipo de Sangre" %><br />
        <%= select_tag :blood, options_for_select([ [], [ "O+", "o-positive"], ["O-", "o-negative"], ["A+", "a-positive"], [ "A-", "o-negative"],  ["B+", "b-positive"], [ "B-", "b-negative"],  ["AB+", "ab-positive"], [ "AB-", "ab-negative"]], ""), id: "role-input" %>
      </div>

  </div>
  <div class="actions">
    <%= f.submit "Registrarme" %>
  </div>





<% end %>

<%= render "devise/shared/links" %>
