<div class="bg-white shadow rounded p-3 m-3">
  <p id="notice"><%= notice %></p>

  <h1 class="main-header">Pacientes del Consultorio</h1>
  <h6>Total Pacientes: <%=@patients.count %></h6>
  <table class="table">
    <thead>
      <tr>
        <th>Nombre </th>
        <th># Consultas </th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @patients.each do |patient| %>
        <tr>
          <td><%= patient.full_name %></td>
          <td><%= Meeting.all.where(patient_id: patient.id, doctor_id: @office.doctor.id).count %></td>
          <td><%= link_to "Elimiar", delete_patient_path(patient: patient.id, office: @office.id), method: :post, data: { confirm: '¿Estás seguro?' }%>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
</div>


