<p id="notice"><%= notice %></p>
<% if current_user %>
  <h1>Dashboard de Doctor </h1>
  <h3> Bienvenid@ Dr.  <%= user.full_name %> <h3>
  <% if !user.has_office? %>
    <h4>Parece que aun no tiene un consultorio creado. Haga clic en el siguiente botón para hacerlo </h4>
    <%= link_to 'Crear consultorio', new_office_path, class: "btn btn-primary" %>
  <% else %>
    
    <h5><%= user.doctor.office.name %></h5>
    <div class="alert alert-secondary">
      Comparte el siguiente código con sus pacientes para que se registren en su consultorio virtual <span class="text-primary"><%= user.doctor.office.code %> </span>
    </div>
      
    <h5>Calendario</h5>
    <div class="row">
      <div class="col-md-8">
        <%= month_calendar events: @meetings do |date, meetings| %>
          <%= date %>

          <% meetings.each do |meeting| %>
            <div>
              <%= meeting.patient.user.full_name %>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="col-md-4">
        <h4>Consultas de hoy</h4>
        <% @meetings_today.each do |meeting| %>
          <%= meeting.patient.user.full_name %> -
          <%= meeting.start_time.strftime("%H:%M") %>
          <br>
        <% end %>
      </div>
    </div>
  <% end %>
  <br>
<% end %>
