<p id="notice"><%= notice %></p>
<% if current_user %>
  <div>
  
  <h3 style="color:#1e212b"> <img src="/assets/doclogo" width="28" height="30"/> Bienvenid@ Dr.  <%= user.full_name %> <h3>
  </div>
  
  <% if !user.has_office? %>
    <h4>Parece que aun no tiene un consultorio creado. Haga clic en el siguiente botón para hacerlo </h4>
    <%= link_to 'Crear consultorio', new_office_path, class: "btn btn-primary" %>
  <% else %>
    <div style="background-color:#67838e;color:#e8e9eb;border-radius: 10px">
    <h5 style="margin: 10px"><%= user.doctor.office.name %></h5>
    </div>
    
    <div class="position-relative" >
    <div class="alert alert-secondary" style="background-color:#1e212b;color:#e8e9eb;border-radius: 20px" >
      Comparte el siguiente código con sus pacientes para que se registren en su consultorio virtual <span class="text-primary" style="color:#e8e9eb"><%= user.doctor.office.code %> </span>
    </div>
    </div> 
    <h5>Mi Agenda</h5>
    <div class="row" >
      <div class="col-md-8">
        <%= calendar(number_of_days: 4, events: @meetings) do |date, meetings| %>
          <%= date %>

          <% meetings.each do |meeting| %>
            <div>
              <b><%= meeting.start_time.strftime("%H:%M") %></b> - 
              <%= meeting.patient.user.full_name %>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="col-md-4" style="background-color:#67838e;color:#e8e9eb;border-radius: 25px">
        <h4 style="margin: 10px">Consultas de hoy</h4>
        <hr style="background-color:#e8e9eb">
        <% @meetings_today.each do |meeting| %>
          <%= meeting.patient.user.full_name %>
          <%= meeting.start_time.strftime("%H:%M") %>
          <br>
        <% end %>
      </div>
    </div>
  <% end %>
  <br>
<% end %>
