

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="d-flex flex-grow-1">
        <span class="w-100 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>
        <a class="navbar-brand" href="<%= root_path%>">
          <img src="/assets/logo" width="50" height="50" class="d-inline-block align-middle"/>
            MediApp
        </a>
    </div>
    <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar7">
        <ul class="navbar-nav ml-auto flex-nowrap">
            <% if !user.doctor.office.nil?  %>
              <li class="nav-item">
                <a class="nav-link" href=<%= new_entry_path(office: user.doctor.office.id)%>>Crear Entrada</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href=<%= new_prescription_path(office: user.doctor.office.id)%>>Crear Receta</a>
              </li>
            <% end %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Ver
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <% if !user.doctor.office.nil? %>
                  <a class="dropdown-item" href=<%= entries_path(office: user.doctor.office.id) %>>Entradas</a>
                <% end %>
                <% if !user.doctor.office.nil? %>
                  <a class="dropdown-item" href=<%= prescriptions_path(office: user.doctor.office.id) %>>Recetas</a>
                <% end %>
                <a class="dropdown-item" href="#">Pacientes</a>
              </div>
            </li>
            <% if !user.doctor.office.nil? %>
                  <li class="nav-item">
                      <%= link_to "Consultorio", office_info_url, class: "nav-link" %>
                  </li>
            <% end %>
            <li class="nav-item">
              <%= link_to "Log out", destroy_user_session_path, :method => :delete, class: "nav-link" %>
            </li>
        </ul>
    </div>
</nav>